:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------- utility classes-------- */
.my-2 {
  margin: 1rem 0;
}

.mx-2 {
  margin: 0 1rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-3 {
  font-size: 2rem;
}
/* -------------------- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




/* ------------------ */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.25s;
  box-shadow: 2px 6px #888;
  background-color: rgb(209 213 219);
  color: #000;
}

button:hover {
  border-color: #646cff;
  color: #f5f5f5;
  background-color: #000;
}

.btn:active {
  box-shadow: 4px 8px 10px white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.input-field {
  padding: 1rem 3rem;
  margin: 0.5rem 0.75rem;
  display: inline-block;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 1rem;

}

.error-msg {
  color: red;
  font-size: 3rem;
  background-color: whitesmoke;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.btn:disabled {
  background-color: gray;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  color: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}